@model ShortUrlModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Your shortened URL is:</h1>
    <div class="alert alert-primary">
        <a href="@Model.HostName/@Model.Key" target="_blank">@Model.HostName/@Model.Key</a>
    </div>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Another...</a>
</div>
